<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>M1</key>
	<array>
		<string>Qatar</string>
		<string>Ecuador</string>
		<string>0-2</string>
	</array>
	<key>M2</key>
	<array>
		<string>Senegal</string>
		<string>Netherlands</string>
		<string>0-2</string>
	</array>
	<key>M3</key>
	<array>
		<string>England</string>
		<string>Iran</string>
		<string>6-2</string>
	</array>
	<key>M4</key>
	<array>
		<string>USA</string>
		<string>Wales</string>
		<string>1-1</string>
	</array>
	<key>M5</key>
	<array>
		<string>France</string>
		<string>Australia</string>
		<string>4-1</string>
	</array>
	<key>M6</key>
	<array>
		<string>Denmark</string>
		<string>Tunisia</string>
		<string>0-0</string>
	</array>
	<key>M7</key>
	<array>
		<string>Mexico</string>
		<string>Poland</string>
		<string>0-0</string>
	</array>
	<key>M8</key>
	<array>
		<string>Argentina</string>
		<string>Saudi Arabia</string>
		<string>1-2</string>
	</array>
	<key>M9</key>
	<array>
		<string>Belgium</string>
		<string>Canada</string>
		<string>1-0</string>
	</array>
	<key>M10</key>
	<array>
		<string>Spain</string>
		<string>Costa Rica</string>
		<string>7-0</string>
	</array>
	<key>M11</key>
	<array>
		<string>Germany</string>
		<string>Japan</string>
		<string>1-2</string>
	</array>
	<key>M12</key>
	<array>
		<string>Morocco</string>
		<string>Croatia</string>
		<string>0-0</string>
	</array>
	<key>M13</key>
	<array>
		<string>Switzerland</string>
		<string>Cameroon</string>
		<string>1-0</string>
	</array>
	<key>M14</key>
	<array>
		<string>Uruguay</string>
		<string>Korea</string>
		<string>0-0</string>
	</array>
	<key>M15</key>
	<array>
		<string>Portugal</string>
		<string>Ghana</string>
		<string>3-2</string>
	</array>
	<key>M16</key>
	<array>
		<string>Brazil</string>
		<string>Serbia</string>
		<string>2-0</string>
	</array>
	<key>M17</key>
	<array>
		<string>Wales</string>
		<string>Iran</string>
		<string>0-2</string>
	</array>
	<key>M18</key>
	<array>
		<string>Qatar</string>
		<string>Senegal</string>
		<string>1-3</string>
	</array>
	<key>M19</key>
	<array>
		<string>Netherlands</string>
		<string>Ecuador</string>
		<string>1-1</string>
	</array>
	<key>M20</key>
	<array>
		<string>England</string>
		<string>USA</string>
		<string>0-0</string>
	</array>
	<key>M21</key>
	<array>
		<string>Tunisia</string>
		<string>Australia</string>
		<string>0-1</string>
	</array>
	<key>M22</key>
	<array>
		<string>Poland</string>
		<string>Saudi Arabia</string>
		<string>2-0</string>
	</array>
	<key>M23</key>
	<array>
		<string>France</string>
		<string>Denmark</string>
		<string>2-1</string>
	</array>
	<key>M24</key>
	<array>
		<string>Argentina</string>
		<string>Mexico</string>
		<string>2-0</string>
	</array>
	<key>M25</key>
	<array>
		<string>Japan</string>
		<string>Costa Rica</string>
		<string>0-1</string>
	</array>
	<key>M26</key>
	<array>
		<string>Belgium</string>
		<string>Morocco</string>
		<string>0-2</string>
	</array>
	<key>M27</key>
	<array>
		<string>Croatia</string>
		<string>Canada</string>
		<string>4-1</string>
	</array>
	<key>M28</key>
	<array>
		<string>Spain</string>
		<string>Germany</string>
		<string>1-1</string>
	</array>
	<key>M29</key>
	<array>
		<string>Cameroon</string>
		<string>Serbia</string>
		<string>1-2</string>
	</array>
	<key>M30</key>
	<array>
		<string>Korea</string>
		<string>Ghana</string>
		<string>2-3</string>
	</array>
	<key>M31</key>
	<array>
		<string>Brazil</string>
		<string>Switzerland</string>
		<string>1-0</string>
	</array>
	<key>M32</key>
	<array>
		<string>Portugal</string>
		<string>Uruguay</string>
		<string>2-0</string>
	</array>
</dict>
</plist>
