<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Qatar</key>
	<array>
		<string>M1</string>
		<string>M18</string>
	</array>
	<key>Ecuador</key>
	<array>
		<string>M1</string>
		<string>M19</string>
	</array>
	<key>Senegal</key>
	<array>
		<string>M2</string>
		<string>M18</string>
	</array>
	<key>Netherlands</key>
	<array>
		<string>M2</string>
		<string>M19</string>
	</array>
	<key>England</key>
	<array>
		<string>M3</string>
		<string>M20</string>
	</array>
	<key>Iran</key>
	<array>
		<string>M3</string>
		<string>M17</string>
	</array>
	<key>USA</key>
	<array>
		<string>M4</string>
		<string>M20</string>
	</array>
	<key>Wales</key>
	<array>
		<string>M4</string>
		<string>M17</string>
	</array>
	<key>Argentina</key>
	<array>
		<string>M8</string>
		<string>M24</string>
	</array>
	<key>Saudi Arabia</key>
	<array>
		<string>M8</string>
		<string>M22</string>
	</array>
	<key>Mexico</key>
	<array>
		<string>M7</string>
		<string>M24</string>
	</array>
	<key>Poland</key>
	<array>
		<string>M7</string>
		<string>M22</string>
	</array>
	<key>France</key>
	<array>
		<string>M5</string>
		<string>M23</string>
	</array>
	<key>Australia</key>
	<array>
		<string>M5</string>
		<string>M21</string>
	</array>
	<key>Denmark</key>
	<array>
		<string>M6</string>
		<string>M23</string>
	</array>
	<key>Tunisia</key>
	<array>
		<string>M6</string>
		<string>M21</string>
	</array>
	<key>Spain</key>
	<array>
		<string>M10</string>
		<string>M28</string>
	</array>
	<key>Costa Rica</key>
	<array>
		<string>M10</string>
		<string>M25</string>
	</array>
	<key>Germany</key>
	<array>
		<string>M11</string>
		<string>M28</string>
	</array>
	<key>Japan</key>
	<array>
		<string>M11</string>
		<string>M25</string>
	</array>
	<key>Belgium</key>
	<array>
		<string>M9</string>
		<string>M26</string>
	</array>
	<key>Canada</key>
	<array>
		<string>M9</string>
		<string>M27</string>
	</array>
	<key>Morocco</key>
	<array>
		<string>M12</string>
		<string>M26</string>
	</array>
	<key>Croatia</key>
	<array>
		<string>M12</string>
		<string>M27</string>
	</array>
	<key>Brazil</key>
	<array>
		<string>M16</string>
		<string>M31</string>
	</array>
	<key>Serbia</key>
	<array>
		<string>M16</string>
		<string>M29</string>
	</array>
	<key>Switzerland</key>
	<array>
		<string>M13</string>
		<string>M31</string>
	</array>
	<key>Cameroon</key>
	<array>
		<string>M13</string>
		<string>M29</string>
	</array>
	<key>Portugal</key>
	<array>
		<string>M15</string>
		<string>M32</string>
	</array>
	<key>Ghana</key>
	<array>
		<string>M15</string>
		<string>M30</string>
	</array>
	<key>Uruguay</key>
	<array>
		<string>M14</string>
		<string>M32</string>
	</array>
	<key>Korea</key>
	<array>
		<string>M14</string>
		<string>M30</string>
	</array>
</dict>
</plist>
